/* Cadastro.css */

* {
  box-sizing: border-box;
}
body {
  height: 100%;
  margin: 0;
  font-family: 'Istok Web', sans-serif;
  background-color: #0A3950;
}
.form-login {
  display: flex;
  flex-direction: column;
  background-color: #D9D9D9;
  border-radius: 15px;
  padding: 2em 4em 4em 4em;
  align-items: center;
}s

.inputs {
  border: none;
  border-radius: 10px;
  height: 40px;
  margin-top: 15px;
  font-size: 17px;
  color: #3C3B3B;
  background-position: 10px;
  background-repeat: no-repeat;
  background-size: 25px;
  padding-left: 40px;
  min-width: 308px;
  margin-left: 5% ;
}
.button-login-cadastro {
  color: #FFFFFF;
  background-color: #0A3950;
  border-radius: 15px;
  border: none;
  height: 38px;
  width: 150px;
  margin-bottom: 15px;
  margin-top: 10px;
  font-size: 17px;
  cursor: pointer;
  margin-left: 5% ;
}



.div-cadastro-pai {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.header-cadastro {
  display: none;
}

.div-cadastro {
  display: flex;
  background-color: #D9D9D9;
  border-radius: 15px;
  margin: 2em 4em;
  justify-content: space-around;
  max-width: 900px;
}

.h2-cadastro {
  font-size: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #3C3B3B4D;
  width: 100%;
  margin-left: 5% ;
}
.p-login {
        font-size: 14px;
        font-weight: 700;
        margin-right: 5px;
    }

.aside-cadastro {
  margin: 2em 4em 4em 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.div-logo-cadastro {
  border: none;
}

.div-recados-cadastro {
  width: 100%;
  max-width: 470px;
  background-color: #67818E;
  border-radius: 15px;
  margin-bottom: 1.5em;
  text-align: center;
  min-width: 150px;
}

.p-cadastro {
  margin: 1em;
  font-size: 20px;
  min-width: 145px;
}
.link-cadastro {
  color: #5F98B4;
  text-decoration: none;
}

.link-cadastro:hover {
  color: #0d4766;
  text-decoration: underline;
}

@keyframes moveUpDown {
  0% {
      transform: translateY(0);
  }

  50% {
      transform: translateY(-8px);

  }

  100% {
      transform: translateY(0);
  }
}

.div-img-exibição {
  width: 100%;
}

.img-exibição {
  width: 100%;
  border-radius: 15px;
}

@media (max-width: 715px) {
  .form-login {
      padding: 2em 1.5em 4em 1.5em;
  }

  .aside-cadastro {
      margin: 2em 1.5em 4em 0;
  }
}

@media (max-width: 555px) {
  .aside-cadastro {
      display: none;
  }

  .header-cadastro {
      display: flex;
      padding: 3.5em 2em 0 2em;
      justify-content: center;
  }

  .div-logo-cadastro {
      width: 85%;
      padding-bottom: 15px;
  }

  .div-cadastro {
      flex-direction: column;
  }

  .form-cadastro {
      padding: 0 1.5em 4em 1.5em;
  }

  .inputs {
      min-width: 303px;
  }

  .inputs::placeholder {
      font-size: 13px;
  }

  .container-hoje .div-nome-prazo {
      padding: 0;
      margin: 0;
  }

}
.div-texto {
  border-top: 1px solid #3C3B3B4D;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
}

  
  /* Estilos adicionais para os campos de entrada, botão, etc., se necessário */
  